<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h2 class="mb-4" style="text-align: center;">Regístrate!</h2>
        <form #form="ngForm" (ngSubmit)="Register(form)">

          <!-- UserName and CI input -->
          <div class="row">
            <div class="form-outline mb-3 col">
              <input required name="username" type="text" class="form-control form-control-lg"
                placeholder="Nombre de Usuario" [(ngModel)]="authService.logedUser.username" #username="ngModel" />
            </div>
            <div class="form-outline mb-3 col">
              <input required name="CI" type="number" (keyup)="validarCI(form)" class="form-control form-control-lg"
                placeholder="CI" [(ngModel)]="authService.logedUser.CI" #CI="ngModel" />
            </div>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input required name="email" type="email" email id="form3Example3" class="form-control form-control-lg"
              placeholder="Correo" [(ngModel)]="authService.logedUser.email" #email="ngModel" />
          </div>

          <!-- Password input -->
          <div class="row">
            <div class="form-outline mb-3 col">
              <input type="password" class="form-control form-control-lg" placeholder="Repetir Contraseña"
                name="password" id="password" required minlength="8" [(ngModel)]="authService.logedUser.password"
                #password="ngModel">
            </div>
            <div class="form-outline mb-3 col">
              <input type="password" class="form-control form-control-lg" placeholder="Contraseña" name="checkpass"
                id="checkpass" required minlength="8" pattern="{{authService.logedUser.password}}" #cpass="ngModel"
                placeholder="Contraseña" [(ngModel)]="repeatpassword">
            </div>
          </div>

          <p *ngIf="error" class="mt-2" style="color:red">{{error}}</p>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button [disabled]="form.invalid || correctCI" type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Entrar</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Ya tienes un usuario? <a class="link-danger"
                [routerLink]="['/auth']">Inicia Sesión!</a></p>
          </div>

        </form>


      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

  </div>
</section>
