<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      Nuevo Usuario
    </h4>
  </div>
  <div class="card-body">
    <div class="tab-content p-0">
      <div class="chart tab-pane active" id="revenue-chart1" style="position: relative; height: auto;">
        <div class="row">
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Crear Usuario!</h1>
              </div>
              <form #form="ngForm" (ngSubmit)="Register(form)" class="user">

                <!-- NameImput -->
                <div class="form-group mb-2">
                  <input type="text" hidden name="_id" id="_id" [(ngModel)]="userService.selectedUser._id"
                    #_id="ngModel">
                  <input type="text" class="form-control form-control-user" placeholder="Nombre" name="name" id="name"
                    required [(ngModel)]="userService.selectedUser.name" #name="ngModel" autofocus>
                  <small *ngIf="name.invalid && name.touched" style="color: red;">Este campo es
                    requerido.</small>
                </div>

                <!-- CI y UserName Imput -->
                <div class="form-group row mb-2">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="number" class="form-control form-control-user" (keyup)="validarCI(form)"
                      placeholder="CI" name="CI" id="CI" required minlength="11"
                      [(ngModel)]="userService.selectedUser.CI" #CI="ngModel">
                    <small *ngIf="correctCI && CI.touched" style="color: red;">CI incorrecto.</small>
                    <small *ngIf="CI.invalid && CI.touched" style="color: red;">Este campo es
                      requerido.</small>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" placeholder="Nombre de Usuario"
                      name="username" id="username" required [(ngModel)]="userService.selectedUser.username"
                      #username="ngModel">
                    <small *ngIf="username.invalid && username.touched" style="color: red;">Este campo es
                      requerido.</small>
                  </div>
                </div>

                <!-- EmailImput -->
                <div class="form-group mb-2">
                  <input type="email" class="form-control form-control-user" placeholder="Correo" name="email"
                    id="email" required email [(ngModel)]="userService.selectedUser.email" #email="ngModel">
                  <div *ngIf="email.errors">
                    <small *ngIf="email.errors.required && email.touched" style="color: red;">Email requerido.</small>
                    <small *ngIf="email.errors.email  && email.touched" style="color: red;">Email incorrecto.</small>
                  </div>
                </div>

                <!-- PasswordImput -->
                <div class="form-group row mb-2" *ngIf="!userService.selectedUser._id">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" placeholder="Contraseña"
                      name="password" id="password" required minlength="8"
                      [(ngModel)]="userService.selectedUser.password" #password="ngModel">
                    <div *ngIf="password.errors">
                      <small *ngIf="password.errors.required && password.touched" style="color: red;">Este campo es
                        requerido.</small>
                      <small *ngIf="password.errors.minlength && password.touched" style="color: red;">Este campo debe
                        tener al menos {{password.errors.minlength.requiredLength}} caracteres.</small>
                    </div>
                    <small *ngIf="cpass.invalid  && cpass.touched && password.touched"
                      style="color: red;">Las contraseñas no coinciden.</small>
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" placeholder="Contraseña"
                      name="checkpass" id="checkpass" required minlength="8"
                      pattern="{{userService.selectedUser.password}}" #cpass="ngModel" placeholder="Repetir Contraseña"
                      [(ngModel)]="repeatpassword">
                    <div *ngIf="cpass.errors">
                      <small *ngIf="cpass.errors.required && cpass.touched" style="color: red;">Este campo es
                        requerido.</small>
                      <small *ngIf="cpass.errors.minlength && cpass.touched" style="color: red;">Este campo debe
                        tener al menos {{cpass.errors.minlength.requiredLength}} caracteres.</small>
                    </div>
                  </div>
                </div>

                <!-- Error de api -->
                <a *ngIf="error" style="color: red;">{{error}}</a>

                <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-user btn-block">
                  Registrar Usuario
                </button>
              </form>
            </div>
          </div>

          <!-- Roles! -->
          <div class="col-lg-5">
            <div class="pt-3 pr-5 pl-5 pb-5 mt-3">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Roles</h1>
              </div>
              <ul class="list-group">
                <li *ngFor="let rol of Roles" class="list-group-item list-group-item-action"
                  [class.active]="verifyRol(rol)" (click)="userRol(rol)">
                  {{rol.name}}
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
